<div class='col-md-6 col-sm-6 col-xs-12 carrito'>
	<!-- BOTON OCULTAR CARRITO -->
	<div class='col-md-12 col-sm-12 col-xs-12'>
		
	</div>
	<h2 class='col-md-12 col-sm-12 col-xs-12'>Your shopping cart</h2>
	<!-- LISTA ORDENADA DE PRODUCTOS DEL CARRITO -->
	<div class='col-md-12 col-sm-12 col-xs-12' ng-repeat="p in carrito.productos">
		<!-- NUMERO EN LA LISTA -->
		<span class='col-md-1 col-sm-2 col-xs-2'>{{p.idx}}</span>
		<span class='col-md-10 col-sm-9 col-xs-9'>{{p.descripcion}}</span>
		<!-- BOTON QUITAR PROGUCTO -->
		<a class='col-md-1 col-sm-1 col-xs-1 boxclose' ng-click="carrito.removeP('p.idx')"></a>
	</div>
	<!-- FORMULARIO -->
	<div class='col-md-10 col-sm-10 col-xs-10 form_client'>
		<label class='col-md-4 col-sm-4 col-xs-4'>Nombre</label>
		<input class='col-md-8 col-sm-8 col-xs-8' ng-model="formulario.nombre">
		<label class='col-md-4 col-sm-4 col-xs-4'>Correo</label>
		<input class='col-md-8 col-sm-8 col-xs-8' ng-model="formulario.nombre">
		<label class='col-md-4 col-sm-4 col-xs-4'>Nombre</label>
		<input class='col-md-8 col-sm-8 col-xs-8' ng-model="formulario.nombre">
		<label class='col-md-4 col-sm-4 col-xs-4'>Nombre</label>
		<input class='col-md-8 col-sm-8 col-xs-8' ng-model="formulario.nombre">
		<label class='col-md-4 col-sm-4 col-xs-4'>Nombre</label>
		<input class='col-md-8 col-sm-8 col-xs-8' ng-model="formulario.nombre">		
	</div>

	<!-- BOTON -->
	<div class='col-md-6 col-sm-6 col-xs-6'>
		<span class='col-md-12 col-sm-12 col-xs-12'>Send</span>
	</div>
	<!-- INFO DESCRIPTIVA -->
	<p class='col-md-8 col-sm-8 col-xs-8'>We will contact you as soon as posible!</p>
</div>