<div ng-controller='selector-controller as selector'>


<!-- PANTALLA 1 DEL SELECTOR -->
<div class='selector-1 col-md-12 col-sm-12 col-xs-12'>
	
	<div style='height:20px;' class='col-md-3 col-sm-3 col-xs-12'></div>

	<div class='col-md-6 col-sm-6 col-xs-12 box-container'>
		<div class='col-md-12 col-sm-12 col-xs-12 cursor box-sel efe-sel'>
			<span class='col-md-12 col-sm-12 col-xs-12 blue-c bot-1'>VACUUM SELECTOR</span>
			<span class='col-md-12 col-sm-12 col-xs-12 blue-c bot-2'>CLICK TO START</span>			
		</div>
		<p class='col-md-12 col-xs-12 col-sm-12 scale'>
			Use our new tool, the Vacuum selector to find the right
			AmerivacS for you. Just answer a few simple question so we
			can suggest you, which machine is the best for you.		
		</p>

	</div>

</div>

<!-- PANTALLA 2 DEL SELECTOR -->
<div class='selector-2 col-md-12 col-sm-12 col-xs-12' style='display:none'>
	<span class='blue-c question scale'> WHAT IS THE WIDTH OF THE BIGGEST BAG THAT YOU WILL WANT TO SEAL? </span>
	
	<div class='row'>
		<img src='img/selector/icono_000.png' alt="" class='col-md-1 col-cen icon-s scale'>	
	</div>
		
	<div class='row'>
		<div class='col-md-9 col-cen'>
			<div class='col-md-2' style='height:20px'>
				
			</div>
			<div class='little-box cursor col-md-2 efe-sel-2'>
				<span class='blue-c col-md-12'>UP TO 20"</span>
			</div>
			<div class='col-md-1' style='height:20px'>
				
			</div>
			<div class='little-box cursor col-md-2 efe-sel-2'>
				<span class='blue-c col-md-12'>FROM 20" TO 25"</span>
			</div>
			<div class='col-md-1' style='height:20px'>
				
			</div>
			<div class='little-box cursor col-md-2 efe-sel-2'>
				<span class='blue-c col-md-12'>FROM 25" TO 30"</span>
			</div>

		</div>		
	</div>


	<div class='row rw-1'>
		<div class='col-md-5 col-cen'>
			<div class='little-box cursor col-md-4 efe-sel-2' style='margin-left:5%'>
				<span class='blue-c col-md-12'>FROM 30" TO 35"</span>
			</div>
			<div class='col-md-4' style='height:20px; margin-left:-4%; margin-right:-5%'></div>

			<div class='little-box cursor col-md-4 efe-sel-2'>
				<span class='blue-c col-md-12'>FROM 35" TO 50"</span>
			</div>

		</div>		
	</div>

</div>

<!-- PANTALLA 3 DEL SELECTOR -->
<div class='selector-3 col-md-12 col-sm-12 col-xs-12' style='display:none'>

	<span class='blue-c question scale'>WILL YOU NEED A GAS PURGE ON YOUR PRODUCT?</span>
	
	<div class='row'>
		<p class='col-md-8 col-cen gas-t scale'>
			The Gas Purge feature is an extra cycle where an inert gas (Nitrogen, Argon, CO2, etc) is inserted
			inside the pouch lowering the percentage of oxygen and moisture that may degrade your product.
		</p>
	</div>
	
	<div class='row'>
		<img class='col-md-1 col-cen scale' src="img/selector/icono_001.png" style="padding:3%">
	</div>

	<div class='col-md-12 espacio-arriba'></div>

	<!-- Contenedor Pregunta 1 -->
	<div class='col-md-6'>
		<div class='row'>
			<div class='ans ans-yes col-md-6 col-cen cursor efe-sel-3'>
				<span>Yes, I do need the gas purge feature</span>
			</div>			
		</div>
	</div>

	<!-- Contenedor Pregunta 2 -->
	<div class='col-md-6'>
		<div class='row'>
			<div class='ans ans-no col-md-6 col-cen cursor efe-sel-3'>
				<span>No, just vacuum and seal will do</span>
			</div>		
			
		</div>
	</div>
	
	<div class='col-md-12 espacio-abajo'></div>

</div>


<div class='selector-4 col-md-12 col-sm-12 col-xs-12' style='display:none'>
	
	<!-- TEXTO INDICANDO LA SELECCION -->
	<div class='selected-vac col-md-12 col-sm-12 col-xs-12'>
		<div class='row'>
			<span class='col-md-10 col-cen blue-c esp-a'>The selected vacuum sealer will be the</span>
			<span class='col-md-10 col-cen blue-c selected-v'>AVN-20</span>		
		</div>
	</div>

	<!-- PARA MOSTRAR LA INFROMACION DE LA SELECCION -->
	<div class='col-md-12 col-sm-12 col-xs-12 nopadding'>
		<div class='content container col-md-12' style='padding-left:5%; margin-top:4%; padding-bottom:5%'>
			<div class='col-md-12 col-sm-12 nopadding'>
				<div class='col-md-12 col-sm-12 col-xs-12'>
					<div class='col-md-7 col-sm-9 col-xs-12 nopadding'>
						<div class='prod_name col-md-5'>
							<span>{{producto.name}}</span>
						</div>
						<div class='prod_des col-md-6'>
							<span>{{producto.subtitulo}}</span>
						</div>				
					</div>
					<div class='col-md-5 col-sm-6 col-xs-12' style='text-align:right; margin-top:2%; margin-bottom:6%'>
						<div class='boton-compara '>
							<span>Compare with other products</span>
						</div>
						<div class='boton-carrito'>
							<span>Add to Shopping Cart</span>
						</div>				
					</div>
				</div>
				<div class='col-md-7 col-sm-9 nopadding'>


						
					<!-- texto del producto -->
					<div class='justif col-md-12'>
						<p ng-bind-html='producto.parrafo'></p>
						<span>All AmeriVacS <strong>AVN Vacuum Sealers</strong> include:</span>
						<ul class='list col-md-8'>
							<li ng-repeat='x in amerivacs_includes'>{{x}}</li>
						</ul>

					</div>	
					<!-- PRICING TABLE -->
					<div class='pricing_table col-md-11 tabla-p'>
						<div class='col-md-12 nopadding mb-1'>
							<span class='tab-name'>Pricing</span>
						</div>
						<div class='col-md-12 nopadding'>
							<span class='col-md-4 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Model</span>
							<span class='col-md-5 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Seal size</span>
							<span class='col-md-2 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Price</span>
						</div>
						<div class='col-md-12 col-sm-12 col-xs-12 ren nopadding' ng-repeat='x in producto.models'>
							<span class='col-md-4 col-sm-4 col-xs-3 nopadding'><strong>{{x.id}}</strong></span>
							<span class='col-md-5 col-sm-4 col-xs-5 nopadding'>{{x.size}}</span>
							<span class='col-md-2 col-sm-4 col-xs-3 nopadding'>{{x.price}}</span>
						</div>
					</div>
				</div>
				<!-- imagenes y botonres -->
				<div class='col-md-5 col-sm-12 col-xs-12'>

				</div>
			</div>
		</div>
	</div>

</div>

	
</div>

