<div ng-controller='compare'>

<div class='col-md-12 col-sm-12 col-xs-12 compare'>
	<!-- PAra la caja de texto -->
	<div class='col-md-7 col-sm-12 col-xs-12 back-white' style='padding:4%;'>
		<span class='col-md-12 col-sm-12 col-xs-12 blue-c font1 '>COMPARE</span>
		<p class='col-md-12 col-sm-12 col-xs-12 justif'>
			Select two AmerivacS products to compare their characteristics,
			specifications and prices. Use the bar below to select the products you
			want to compare, then you can easily buy it by clicking on the “Add to
			shoopping cart” button. <br><br>
			Find the best AmerivacS for you!	
		</p>
	</div>
</div>

<div class='col-md-6 col-sm-6 col-xs-12 nopadding bor-d'>
	
	<!-- OPCIONES -->
	<div class='nopadding' style='margin:0%'>

			<div class='lista-productos menucito1 col-md-12 col-xs-12 col-sm-12 nopadding'>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='AVN' ng-click='getProduct_1("AVN")'>
			      <span>AVN</span>
			    </div>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='AVS' ng-click='getProduct_1("AVS")'>
			      <span>AVS</span>
			    </div>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='CAVN' ng-click='getProduct_1("CAVN")'>
			      <span>CAVN</span>
			    </div>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='CAVS' ng-click='getProduct_1("CAVS")'>
			      <span>CAVS</span>
			    </div>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='AVC' ng-click='getProduct_1("AVC")'>
			      <span>AVC</span>
			    </div>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='AVCG' ng-click='getProduct_1("AVCG")'>
			      <span>AVCG</span>
			    </div>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='AVP' ng-click='getProduct_1("AVP")'>
			      <span>AVP</span>
			    </div>
			</div>

	</div>


	<!-- CONTENEDOR DEN PRODUCTO -->
	<div class=' col-md-12' style='padding:8%;' ng-show='selected_1'>
		<div class='col-md-12 col-sm-12 nopadding'>
			<div class='col-md-12 col-sm-12 col-xs-12'>
				<div class='col-md-12 col-sm-9 col-xs-12 nopadding'>
					<div class='prod_name'>
						<span>{{producto_1.name}}</span>
					</div>
					<div class='prod_des col-md-6'>
						<span>{{producto_1.subtitulo}}</span>
					</div>				
				</div>

			</div>
			<div class='col-md-12 col-sm-12 col-xs-12 bor-b' style='padding-bottom:8%'>
				<img src="{{producto_1.src}}" ng-src='' class="col-md-12 col-sm-12 col-xs-12">
			</div>

			<div class='col-md-12 col-sm-12 col-xs-12 nopadding'>

				<div class='row'>
					<!-- PRICING TABLE -->
					<div class='pricing_table col-md-11 col-sm-10 col-xs-12 tabla-p col-cen' style='padding-top:4%;'>
						<div class='col-md-12 nopadding mb-1'>
							<span class='tab-name'>Pricing</span>
						</div>
						<div class='col-md-12 nopadding'>
							<span class='col-md-4 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Model</span>
							<span class='col-md-6 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Seal size</span>
							<span class='col-md-2 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Price</span>
						</div>
						<div class='col-md-12 col-sm-12 col-xs-12 ren nopadding' ng-repeat='x in producto_1.models'>
							<span class='col-md-4 col-sm-4 col-xs-3 nopadding'><strong>{{x.id}}</strong></span>
							<span class='col-md-6 col-sm-4 col-xs-5 nopadding'>{{x.size}}</span>
							<span class='col-md-2 col-sm-4 col-xs-3 nopadding'>{{x.price}}</span>
						</div>
						
					</div>
				</div>

				<!-- BOTON DE COMPRA Y AVISO -->
				<div class='col-md-12 col-sm-12 col-xs-12' style='text-align:right; margin-top:8%; margin-bottom:10%'>




					<form class='col-md-12 col-sm-12 col-xs-12 float-l' target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="EZBDFNWS23UDG">
					<table>
						<tr>
							<td>
								<input type="hidden" name="on0" value="Size:">Size:
							</td>
						</tr>
						<tr>
							<td>
								<select name="os0">
									<option value="20"">20" $2,500.00 USD</option>
									<option value="25"">25" $2,985.00 USD</option>
									<option value="30"">30" $3,185.00 USD</option>
									<option value="35"">35" $3,385.00 USD</option>
									<option value="50"">50" $6,985.00 USD</option>
								</select>
							</td>
						</tr>
					</table>


					<!-- "https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" -->
					<input type="hidden" name="currency_code" value="USD">
					<input class='col-md-6 col-sm-6 col-xs-12 botones' style='padding:2%;' type="image" src="img/BOTON-2_000.png" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
					
					<!--NO VA EL BOTON DE COMPARE -->
					<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
					</form>


					<span class='col-md-8 col-sm-7 col-xs-12 ' style='text-align:right; font-size:0.9em'>
						Prices subject to change without notice*
					</span>	
				</div>

			</div>

		</div>
	</div>

</div>
<div class='col-md-6 col-sm-6 col-xs-12 nopadding'>
	
	<!-- OPCIONES -->
	<div class='nopadding' style='margin:0%'>
<!--
		<div class='lista-productos menucito2 col-md-12 col-xs-12 col-sm-12 nopadding'>
		    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d' ng-repeat='x in productos' id='{{x.name}}' ng-click='getProduct_2(x.name)'>
		      <span>{{x.name}}</span>
		    </div>

		</div>-->

			<div class='lista-productos menucito2 col-md-12 col-xs-12 col-sm-12 nopadding'>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='AVN' ng-click='getProduct_2("AVN")'>
			      <span>AVN</span>
			    </div>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='AVS' ng-click='getProduct_2("AVS")'>
			      <span>AVS</span>
			    </div>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='CAVN' ng-click='getProduct_2("CAVN")'>
			      <span>CAVN</span>
			    </div>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='CAVS' ng-click='getProduct_2("CAVS")'>
			      <span>CAVS</span>
			    </div>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='AVC' ng-click='getProduct_2("AVC")'>
			      <span>AVC</span>
			    </div>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='AVCG' ng-click='getProduct_2("AVCG")'>
			      <span>AVCG</span>
			    </div>
			    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d'  id='AVP' ng-click='getProduct_2("AVP")'>
			      <span>AVP</span>
			    </div>
			</div>


	</div>	

	<!-- CONTENEDOR DE UN PRODUCTO -->
	<div class=' col-md-12' style='padding:8%;' ng-show='selected_2'>
		<div class='col-md-12 col-sm-12 nopadding'>
			<div class='col-md-12 col-sm-12 col-xs-12'>
				<div class='col-md-12 col-sm-9 col-xs-12 nopadding'>
					<div class='prod_name'>
						<span>{{producto_2.name}}</span>
					</div>
					<div class='prod_des col-md-6'>
						<span>{{producto_2.subtitulo}}</span>
					</div>				
				</div>

			</div>
			<div class='col-md-12 col-sm-12 col-xs-12 bor-b' style='padding-bottom:8%'>
				<img src="{{producto_2.src}}" ng-src='' class="col-md-12 col-sm-12 col-xs-12">
			</div>

			<div class='col-md-12 col-sm-12 col-xs-12 nopadding'>

				<div class='row'>
					<!-- PRICING TABLE -->
					<div class='pricing_table col-md-11 col-sm-10 col-xs-12 tabla-p col-cen' style='padding-top:4%;'>
						<div class='col-md-12 nopadding mb-1'>
							<span class='tab-name'>Pricing</span>
						</div>
						<div class='col-md-12 nopadding'>
							<span class='col-md-4 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Model</span>
							<span class='col-md-6 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Seal size</span>
							<span class='col-md-2 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Price</span>
						</div>
						<div class='col-md-12 col-sm-12 col-xs-12 ren nopadding' ng-repeat='x in producto_2.models'>
							<span class='col-md-4 col-sm-4 col-xs-3 nopadding'><strong>{{x.id}}</strong></span>
							<span class='col-md-6 col-sm-4 col-xs-5 nopadding'>{{x.size}}</span>
							<span class='col-md-2 col-sm-4 col-xs-3 nopadding'>{{x.price}}</span>
						</div>
						
					</div>
				</div>

				<!-- BOTON DE COMPRA Y AVISO -->
				<div class='col-md-12 col-sm-12 col-xs-12' style='text-align:right; margin-top:8%; margin-bottom:10%'>
					

<!--
					<div class='col-md-4 col-sm-5 col-xs-12 boton-carrito2 cursor'>
						<span>Add to Shopping Cart</span>
					</div>	-->












					<form class='col-md-12 col-sm-12 col-xs-12 float-l' target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="EZBDFNWS23UDG">
					<table>
						<tr>
							<td>
								<input type="hidden" name="on0" value="Size:">Size:
							</td>
						</tr>
						<tr>
							<td>
								<select name="os0">
									<option value="20"">20" $2,500.00 USD</option>
									<option value="25"">25" $2,985.00 USD</option>
									<option value="30"">30" $3,185.00 USD</option>
									<option value="35"">35" $3,385.00 USD</option>
									<option value="50"">50" $6,985.00 USD</option>
								</select>
							</td>
						</tr>
					</table>


					<!-- "https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" -->
					<input type="hidden" name="currency_code" value="USD">
					<input class='col-md-6 col-sm-6 col-xs-12 botones' style='padding:2%;' type="image" src="img/BOTON-2_000.png" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
					
					<!--NO VA EL BOTON DE COMPARE -->
					<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
					</form>
























					<span class='col-md-8 col-sm-7 col-xs-12 ' style='text-align:right; font-size:0.9em'>
						Prices subject to change without notice*
					</span>	




				</div>

			</div>

		</div>
	</div>

</div>

	
</div>

