<div ng-controller='compare'>

<div class='col-md-12 col-sm-12 col-xs-12 compare'>
	<!-- PAra la caja de texto -->
	<div class='col-md-7 col-sm-12 col-xs-12 back-white' style='padding:4%;'>
		<span class='col-md-12 col-sm-12 col-xs-12 blue-c font1 '>COMPARE</span>
		<p class='col-md-12 col-sm-12 col-xs-12 justif'>
			Select two AmerivacS products to compare their characteristics,
			specifications and prices. Use the bar below to select the products you
			want to compare, then you can easily buy it by clicking on the “Add to
			shoopping cart” button. <br><br>
			Find the best AmerivacS for you!	
		</p>
	</div>
</div>

<div class='col-md-6 col-sm-6 col-xs-12 nopadding bor-d'>
	
	<!-- OPCIONES -->
	<div class='nopadding' style='margin:0%'>
		<div class='lista-productos menucito1 col-md-12 col-xs-12 col-sm-12 nopadding'>
		    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d' ng-repeat='x in productos' id='{{x.name}}' ng-click='getProduct_1(x.name)'>
		      <span>{{x.name}}</span>
		    </div>
		</div>
	</div>

	<!-- CONTENEDOR DEN PRODUCTO -->
	<div class=' col-md-12' style='padding:8%;'>
		<div class='col-md-12 col-sm-12 nopadding'>
			<div class='col-md-12 col-sm-12 col-xs-12'>
				<div class='col-md-12 col-sm-9 col-xs-12 nopadding'>
					<div class='prod_name col-md-5'>
						<span>{{producto_1.name}}</span>
					</div>
					<div class='prod_des col-md-6'>
						<span>{{producto_1.subtitulo}}</span>
					</div>				
				</div>

			</div>
			<div class='col-md-12 col-sm-12 col-xs-12 bor-b' style='padding-bottom:8%'>
				<img src="{{producto_1.src}}" ng-src='' class="col-md-12 col-sm-12 col-xs-12">
			</div>

			<div class='col-md-12 col-sm-12 col-xs-12 nopadding'>

				<div class='row'>
					<!-- PRICING TABLE -->
					<div class='pricing_table col-md-11 col-sm-10 col-xs-12 tabla-p col-cen' style='padding-top:4%;'>
						<div class='col-md-12 nopadding mb-1'>
							<span class='tab-name'>Pricing</span>
						</div>
						<div class='col-md-12 nopadding'>
							<span class='col-md-4 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Model</span>
							<span class='col-md-6 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Seal size</span>
							<span class='col-md-2 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Price</span>
						</div>
						<div class='col-md-12 col-sm-12 col-xs-12 ren nopadding' ng-repeat='x in producto_1.models'>
							<span class='col-md-4 col-sm-4 col-xs-3 nopadding'><strong>{{x.id}}</strong></span>
							<span class='col-md-6 col-sm-4 col-xs-5 nopadding'>{{x.size}}</span>
							<span class='col-md-2 col-sm-4 col-xs-3 nopadding'>{{x.price}}</span>
						</div>
						
					</div>
				</div>

				<!-- BOTON DE COMPRA Y AVISO -->
				<div class='col-md-12 col-sm-12 col-xs-12' style='text-align:right; margin-top:8%; margin-bottom:10%'>
					<div class='col-md-4 col-sm-5 col-xs-12 boton-carrito2 cursor'>
						<span>Add to Shopping Cart</span>
					</div>	
					<span class='col-md-8 col-sm-7 col-xs-12 ' style='text-align:right; font-size:0.9em'>
						Prices subject to change without notice*
					</span>	
				</div>

			</div>

		</div>
	</div>

</div>
<div class='col-md-6 col-sm-6 col-xs-12 nopadding'>
	
	<!-- OPCIONES -->
	<div class='nopadding' style='margin:0%'>
		<div class='lista-productos menucito2 col-md-12 col-xs-12 col-sm-12 nopadding'>
		    <div class='producto-menu col-md-2 col-xs-3 col-sm-2 bor-d' ng-repeat='x in productos' id='{{x.name}}' ng-click='getProduct_2(x.name)'>
		      <span>{{x.name}}</span>
		    </div>
		</div>
	</div>	

	<!-- CONTENEDOR DE UN PRODUCTO -->
	<div class=' col-md-12' style='padding:8%;'>
		<div class='col-md-12 col-sm-12 nopadding'>
			<div class='col-md-12 col-sm-12 col-xs-12'>
				<div class='col-md-12 col-sm-9 col-xs-12 nopadding'>
					<div class='prod_name col-md-5'>
						<span>{{producto_2.name}}</span>
					</div>
					<div class='prod_des col-md-6'>
						<span>{{producto_2.subtitulo}}</span>
					</div>				
				</div>

			</div>
			<div class='col-md-12 col-sm-12 col-xs-12 bor-b' style='padding-bottom:8%'>
				<img src="{{producto_2.src}}" ng-src='' class="col-md-12 col-sm-12 col-xs-12">
			</div>

			<div class='col-md-12 col-sm-12 col-xs-12 nopadding'>

				<div class='row'>
					<!-- PRICING TABLE -->
					<div class='pricing_table col-md-11 col-sm-10 col-xs-12 tabla-p col-cen' style='padding-top:4%;'>
						<div class='col-md-12 nopadding mb-1'>
							<span class='tab-name'>Pricing</span>
						</div>
						<div class='col-md-12 nopadding'>
							<span class='col-md-4 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Model</span>
							<span class='col-md-6 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Seal size</span>
							<span class='col-md-2 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Price</span>
						</div>
						<div class='col-md-12 col-sm-12 col-xs-12 ren nopadding' ng-repeat='x in producto_2.models'>
							<span class='col-md-4 col-sm-4 col-xs-3 nopadding'><strong>{{x.id}}</strong></span>
							<span class='col-md-6 col-sm-4 col-xs-5 nopadding'>{{x.size}}</span>
							<span class='col-md-2 col-sm-4 col-xs-3 nopadding'>{{x.price}}</span>
						</div>
						
					</div>
				</div>

				<!-- BOTON DE COMPRA Y AVISO -->
				<div class='col-md-12 col-sm-12 col-xs-12' style='text-align:right; margin-top:8%; margin-bottom:10%'>
					<div class='col-md-4 col-sm-5 col-xs-12 boton-carrito2 cursor'>
						<span>Add to Shopping Cart</span>
					</div>	
					<span class='col-md-8 col-sm-7 col-xs-12 ' style='text-align:right; font-size:0.9em'>
						Prices subject to change without notice*
					</span>	
				</div>

			</div>

		</div>
	</div>

</div>

	
</div>

