    <div class='content2 container-fluid'>
      <div class='col-md-12 col-sm-12 col-xs-12 efectoH-3 nopadding'>
        <img class='col-ms-12 col-sm-12 col-xs-12 nopadding' src="img/home/imagen_000_0.png" alt="">
      </div>      
      <div class='col-md-12 col-sm-12 col-xs-12 experience'>
        <div class='col-md-12 col-sm-12 col-xs-12' style='padding:10%; padding-top:5%;padding-bottom:3.8%'>
          <img class='col-md-10 col-sm-10 col-xs-12 col-cen' src="img/home/frase_000.png" alt="">
        </div>
        <div class='col-md-12' style='padding:13%; padding-top:0%; padding-bottom:5%'>
          <span class='col-md-10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt'> Superior High Grade Components:</h3>
            <h3 class='norm-txt'>Long product life.</h3>
          </span>
          <span class='col-md10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt '> 70% faster than our competitors:</h3>
            <h3 class='norm-txt '>Increased operational efficiency.</h3>
          </span>
          <span class='col-md10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt '> Superior Designs:</h3>
            <h3 class='norm-txt '>Easier to use and mantain.</h3>
          </span>
          <span class='col-md10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt'>Numerous redundancies failsafe mechanism:</h3>
            <h3 class='norm-txt'>Seal integrity.</h3>
          </span>
          <span class='col-md10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt'>2 year limited warranty:</h3>
            <h3 class='norm-txt'>Best in the industry.</h3>
          </span>
          <span class='col-md10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt'>1 week trial program:</h3>
            <h3 class='norm-txt'>Confidence in our product.</h3>
          </span>
          <span class='col-md10 col-sm-10 col-xs-10 col-cen'>
            <h3 class='red-txt'>Same day shipping:</h3>
            <h3 class='norm-txt'>Efficient customer service.</h3>
          </span>
        </div>
      </div>
  
      <div class='col-md-12 col-xs-12 col-sm-12 efectoH-3 nopadding'>
        <img class='2-img col-md-12 col-sm-12 col-xs-12 nopadding' src="img/home/imagen_001.png" alt="">
      </div>
            
      <div class='galery container container-fluid'>
        

        <div class='col-md-4 col-sm-6 col-xs-12 efectoH'>
          
          <div class='col-md-12 col-sm-12 col-xs-12 efectoE img-hov-2 cursor' ng-click='loadPage("all-products")'>
            <img src="img/home/imagen_002.png"  class='col-md-12 col-sm-12 col-xs-12 nopadding' alt="">          
          </div>

          <div class='col-md-12 col-sm-12 col-xs-12 efectoE img-hov-3 cursor' ng-click='loadPage("contact")'>
            <img src="img/home/imagen_003.png" class='col-md-12 col-sm-12 col-xs-12 nopadding' style='width:100%' alt="">
          </div>
        
        </div>

        <div class='col-md-4 col-sm-6 col-xs-12 efectoH'>

          <div class='col-md-12 col-sm-12 col-xs-12 efectoE img-hov-4 cursor' ng-click='loadPage("about_us")'>
            <img src="img/home/imagen_004.png" class='col-md-12 col-sm-12 col-xs-12 nopadding' alt="">
          </div>              

        </div>

        <div class='col-md-4 col-sm-12 col-xs-12'>

          <div class='col-md-12 col-sm-6 col-xs-12 efectoE img-hov-1 cursor' ng-click='loadPage("selector")'>
            <img src="img/home/imagen_006.png" class='col-md-12 col-sm-12 col-xs-12 nopadding' alt="">          
          </div>

          <div class='col-md-12 col-sm-6 col-xs-12 efectoE img-hov-5 cursor' ng-click='loadPage("compare")'>
            <img src="img/home/imagen_005.png" style='width:100.5%' alt="">
          </div>
     
        </div>


      </div>
    </div>    