<div class='container nopadding' style='margin:0%; width:100%'>
	<div class='lista-productos col-md-12 col-xs-12 col-sm-12 nopadding'>
	    <div class='producto-menu col-md-1 col-xs-3 col-sm-2 bor-d' ng-repeat='x in productos' id='{{x.name}}' ng-click='getProduct(x.name)'>
	      <span>{{x.name}}</span>
	    </div>
	</div>
</div>
<div class='content container col-md-12' style='padding-left:5%; margin-top:4%; padding-bottom:5%'>
	<div class='col-md-12 col-sm-12 nopadding'>
		<div class='col-md-12 col-sm-12 col-xs-12'>
			<div class='col-md-7 col-sm-9 col-xs-12 nopadding'>
				<div class='prod_name'>
					<span>{{producto.name}}</span>
				</div>
				<div class='prod_des col-md-6'>
					<span>{{producto.subtitulo}}</span>
				</div>				
			</div>
			<div class='col-md-5 col-sm-6 col-xs-12' style='text-align:right; margin-top:2%; margin-bottom:6%' ng-show='isVacuum'>
				<div class='boton-compara' ng-click='toCompare(producto.name)'>
					<span class=''>Compare with other products</span>
				</div>
				<div class='boton-carrito'>
					<span class=''>Add to Shopping Cart</span>
				</div>				
			</div>
		</div>
		<div class='col-md-7 col-sm-9 nopadding' ng-show='isVacuum'>


				
			<!-- texto del producto -->
			<div class='justif col-md-12'>
				<p ng-bind-html='producto.parrafo'></p>
				<span>All AmeriVacS <strong>AVN Vacuum Sealers</strong> include:</span>
				<ul class='list col-md-8'>
					<li ng-repeat='x in amerivacs_includes'>{{x}}</li>
				</ul>

			</div>	


			<!-- PRICING TABLE -->
			<div class='pricing_table col-md-11 tabla-p'>
				<div class='col-md-12 nopadding mb-1'>
					<span class='tab-name'>Pricing</span>
				</div>
				<div class='col-md-12 nopadding'>
					<span class='col-md-4 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Model</span>
					<span class='col-md-5 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Seal size</span>
					<span class='col-md-2 col-sm-4 col-xs-4 nopadding blue-c mb-2'>Price</span>
				</div>
				<div class='col-md-12 col-sm-12 col-xs-12 ren nopadding' ng-repeat='x in producto.models'>
					<span class='col-md-4 col-sm-4 col-xs-3 nopadding'><strong>{{x.id}}</strong></span>
					<span class='col-md-5 col-sm-4 col-xs-5 nopadding'>{{x.size}}</span>
					<span class='col-md-2 col-sm-4 col-xs-3 nopadding'>{{x.price}}</span>
				</div>
			</div>
		</div>
		<!-- imagenes y botonres -->
		<div class='col-md-5 col-sm-12 col-xs-12'>

		</div>
		
	</div>

	<!--  TABLE SPECIFICATIONS -->
	<div class='col-md-12 col-xs-12 col-sm-12 tabla-p' ng-show='isVacuum'>
		<div class='col-md-12 col-sm-12 col-xs-12 nopadding mb-1'>
			<span class='tab-name'>Specifications</span>
		</div>
		<div class='ren2 col-md-5 nopadding' ng-repeat='sp in producto.specs'>
			<div class='col-md-6 nopadding'>
				<span><strong>{{sp.spec}}</strong></span>
			</div>
			<div class='col-md-6 txt-r'>
				<span>{{sp.val}}</span>
			</div>					
		</div>
	</div>

<!-- CAMBIAR A VERSION COLUMNAS PARA SIPLIFICAR BACKEND 

	<div class='col-md-12 tabla-p' style='display:table'>
		<div class='col-md-12 nopadding'>
			<div class='col-md-12 mb-2 nopadding'>
				<span class='tab-name'>Options</span>
			</div>
			<div class='col-md-12 ren2 nopadding'>
				<div class='col-md-1 col-xs-12 nopadding'>
					<span class='blue-c'>Option</span>
				</div>			
				<div class='col-md-5 col-xs-12 col-sm-6 col-xs-12 bord-l' style='margin-bottom:3%;'>
					<span></span>
				</div>				
				<div class='col-md-1 col-sm-2 col-xs-2 blue-c bord-l' ng-repeat='x in producto.options[0]'>
					<span class=''>{{x}}</span>
				</div>
			</div>
		</div>

		<div class='col-md-12 col-sm-12 col-xs-12 nopadding bord-t' ng-repeat='op in producto.options[1]'>
			<div class='col-md-2 col-sm-4 col-xs-4 nopadding' style='padding:1%'>
				<span><strong>{{op.op}}</strong></span>
			</div>
			<div class='col-md-4' style='padding:1%'>
				<span>{{op.des}}</span>
			</div>
			<div class='col-md-1 col-xs-2' ng-repeat='y in op.prices'>
				<span>{{y}}</span>
			</div>			
		</div>
		
	</div>
-->


<!-- NUEVA VERSION -->

	<div class='col-md-12 tabla-p' style='display:table' ng-show="isVacuum">
		<div class='col-md-12 nopadding'>
			<div class='col-md-12 mb-2 nopadding'>
				<span class='tab-name'>Options</span>
			</div>
			<div class='col-md-12 ren2 nopadding'>
				<div class='col-md-1 col-xs-12 nopadding'>
					<span class='blue-c'>Option</span>
				</div>			
				<div class='col-md-5 col-xs-12 col-sm-6 col-xs-12 bord-l' style='margin-bottom:3%;'>
					<span></span>
				</div>				
				<div class='col-md-1 col-sm-2 col-xs-2 blue-c bord-l' ng-repeat='x in producto.options[0]'>
					<span class=''>{{x}}</span>
				</div>
			</div>
		</div>

		<div class='col-md-12 col-sm-12 col-xs-12 nopadding bord-t' ng-repeat='op in producto.options[1]'>
			<div class='col-md-2 col-sm-4 col-xs-4 nopadding' style='padding:1%'>
				<span><strong>{{op.op}}</strong></span>
			</div>
			<div class='col-md-4' style='padding:1%'>
				<span>{{op.des}}</span>
			</div>
			<div class='col-md-1 col-xs-2' ng-repeat='y in op.prices'>
				<span>{{y}}</span>
			</div>			
		</div>
		
	</div>


	<div class='partes col-md-12 tabla-p' style='display:table' ng-show="!isVacuum">
		<div class='col-md-12 nopadding'>
			<div class='col-md-12 mb-2 nopadding'>
				<span class='tab-name'>Parts</span>
			</div>
			<div class='col-md-12 ren2 nopadding'>
				<div class='col-md-1 col-xs-12 nopadding'>
					<span class='blue-c'>Part</span>
				</div>			
				<div class='col-md-5 col-xs-12 col-sm-6 col-xs-12 bord-l' style='margin-bottom:3%;'>
					<span></span>
				</div>				
				<!--
				<div class='col-md-1 col-sm-2 col-xs-2 blue-c bord-l' ng-repeat='x in producto.options[0]'>
					<span class=''>{{x}}</span>
				</div>-->
			</div>
		</div>

		<div class='col-md-12 col-sm-12 col-xs-12 nopadding bord-t reenglon' ng-repeat='part in partes'>
			<div class='col-md-3 col-sm-3 col-xs-3 nopadding'>
				<span><strong>{{part.id}}</strong></span>
			</div>
			<div class='col-md-3 col-sm-3 col-xs-3'>
				<span class='col-md-12 col-sm-12 col-xs-12'>{{part.desc}}</span>
			</div>
			<div class='col-md-3 col-sm-3 col-xs-3'>
				<span class='col-md-12 col-sm-12 col-xs-12'>{{part.size}}</span>
			</div>
			<div class='col-md-3 col-sm-3 col-xs-3'>
				<span class='col-md-12 col-sm-12 col-xs-12'>{{part.price}}</span>
			</div>			
		</div>
		
	</div>







</div>
