<div class='container nopadding nomargin productos'>
	
	<!--  PRIMER OUR VACUUM SEALERS -->
	<div class='cont-1 col-md-12 col-sm-12 col-xs-12' style='padding-left:4%'>
		
		<!-- PAra la caja de texto -->
		<div class='col-md-9 col-sm-12 col-xs-12 back-white' style='padding:4%; padding-top:7%; float:left;'>
			<span class='col-md-12 col-sm-12 col-xs-12 blue-2 font1 our-txt'>OUR VACUUM SEALERS</span>
			<p class='col-md-12 col-sm-12 col-xs-12 justif texto-1'>


				The greatest testament to our Vacuum Sealers is the <strong>4000+ companies </strong>who have purchased, and continue to purchase our Vacuum Sealers. Our <strong>sales volume increases year-after-year</strong> thanks to the positive word of mouth marketing and satisfied repeat-customers.

				<br><br>
				Our <strong>vacuum sealer lines are designed, engineered, and manufactured in-house</strong> with a focus on <strong>safety, quality, and performance</strong>. Every vacuum sealer that leaves our facility comes with a <strong>toll-free phone number to our engineering technical support team for assistance. The AmeriVacS team consists of engineers that design and build our products while continuously making improvements.</strong>

				<br><br>
				<strong>All of our sealers have a 2-year limited warranty covering both parts and labor.</strong>



			</p>
			<span class='col-md-12 col-sm-12 col-xs-12 blue-2 font1 txt-r boton bold' style='margin-top:3%; font-size:1.5em;' ng-click="scrollProd()">Learn more...</span>
			<!-- botton -->
			<div class='col-md-12 col-sm-12 col-xs-12 margin-1 nopadding efectoH-2'>
				<figure class='col-md-12'>
					<a href="/product">
						<img class='col-md-4 col-sm-4 col-xs-12 boton' src="img/products/boton_000.png">
						
					</a>
					
				</figure>
			</div>
		</div>

	</div>
	
	<!--  SEGUNDO OUR VACUUM SEALERS -->
	<div class='col-md-12 col-sm-12 col-xs-12' style='padding-left:5%; padding-right:5%'>
		<div class='col-md-12 col-sm-12 col-xs-12 iconos nopadding margin-1'>
			<div class='icono col-md-6 col-sm-6 col-xs-12 float-l' ng-repeat='g in garantias'>

				<img ng-src="{{g.src}}" alt="" class='col-md-2 col-sm-3 col-xs-3 float-l'>

				<div class='col-md-10 col-sm-8 col-xs-9 float-l nopadding'>
					<div class='col-md-12 float-l nopadding'>
						<span class='col-md-12 azul-1'>{{g.nombre}}</span>
						<p class='col-md-12 descrip-2 justif' ng-bind-html='g.descrip'></p>
					</div>
				</div>

			</div>
		</div>

		<span class='col-md-12 col-sm-12 col-xs-12 azul-1' style='font-size:1.5em; margin-right:5%; margin-bottom:3%;'> PROTECTING YOUR INVESTMENT</span>
		<ul class='col-md-12 col-sm-12 col-xs-12 nodot nopadding'>
			<li class='col-md-6 col-sm-6 col-xs-12 fs-2'>
				<span style='display:inline-block' class='col-md-11 col-sm-11 col-xs-11'>
					Seal up to <strong>360 packages per hour.</strong>
				</span>
			</li>
			<li class='col-md-6 col-sm-6 col-xs-12 fs-2'>
				<span style='display:inline-block' class='col-md-11 col-sm-11 col-xs-11'>
					Starting at $1,995 for a <strong>20" Vacuum sealer.</strong>
				</span>
			</li>
			
			<li class='col-md-6 col-sm-6 col-xs-12 fs-2'>
				<span style='display:inline-block' class='col-md-11 col-sm-11 col-xs-11'>
					Starting at $2,500 for a 20" Vacuum sealer with <strong>gas purge.</strong>
				</span>
			</li>
			<li class='col-md-6 col-sm-6 col-xs-12 fs-2'>
				<span style='display:inline-block' class='col-md-11 col-sm-11 col-xs-11'>Proudly <strong>made in the U.S.A.</strong></span>
			</li>


			<li class='col-md-6 col-sm-6 col-xs-12 fs-2'>
				<span style='display:inline-block' class='col-md-11 col-sm-11 col-xs-11'><strong>2 year</strong> limited warranty.</span>
			</li>
			<li class='col-md-6 col-sm-6 col-xs-12 fs-2'>
				<span style='display:inline-block' class='col-md-11 col-sm-11 col-xs-11'>Built for a <strong>lifetime.</strong></span>
			</li>
			<li class='col-md-6 col-sm-6 col-xs-12 fs-2'>
				<span style='display:inline-block' class='col-md-11 col-sm-11 col-xs-11'><strong>1 week</strong> trial period.</span>
			</li>
		</ul>
	</div>

	<!-- IMAGEN EN MEDIO -->
	<div class='col-md-12 col-sm-12 col-xs-12 nopadding nomargin efectoH-3' style='margin-top:3%'>
		<img src="img/products/imagen_001.png" class='col-md-12 col-md-12 col-xs-12 nopadding' alt="">
	</div>

	<!-- MENU CATEGORIAS PRODUCTOS -->
	<div class='col-md-12 col-sm-12 col-xs-12 nopadding nomargin lista-productos categs'>
		<div id='rn' class='menu-cat col-md-2 col-sm-6 col-xs-4 bor-d float-l nopadding cursor seleccion' ng-click='getCat("retractable nozzle")'>
			<span class='azul-1 '>RETRACTABLE NOZZLE</span>
		</div>
		<div id='cs' class='menu-cat col-md-2 col-sm-6 col-xs-4 bor-d nopadding cursor' ng-click='getCat("chamber sealers")'>
			<span class='azul-1'>CHAMBER VACUUM SEALERS</span>
		</div>
		<div id='is' class='menu-cat col-md-2 col-sm-6 col-xs-4 bor-d nopadding cursor' ng-click='getCat("impulse sealer")'>
			<span class='azul-1'>IMPULSE SEALER</span>
		</div>
		<div id='acc' class='menu-cat col-md-2 col-sm-6 col-xs-4 bor-d nopadding cursor' ng-click='toProduct("OPTIONS")'>
			<span class='azul-1 '>ACCESORIES</span>
		</div>
		<div id='pa' class='menu-cat col-md-2 col-sm-6 col-xs-4 bor-d nopadding cursor' ng-click='toProduct("PARTS")'>
			<span class='azul-1'>PARTS</span>
		</div>

	</div>

	<!-- PRODUCTOS POR CATEGORIA -->
	<div class='col-md-12 col-sm-12 col-xs-12' style='padding-top:3%; padding-bottom:3%;'>
		<div class='col-md-4 col-sm-6 col-xs-6 float-l producto3 cursor' ng-repeat='m in categoria' ng-click='toProduct(m.nombre)' style='padding-left:3%; padding-right:3%'>
			<img ng-src="{{m.img}}" alt="" class='col-md-12 col-sm-12 col-xs-12 nopadding'>
			<h1 class='col-md-12 col-sm-12 col-xs-12 azul-1 nopadding' >{{m.nombre}}</h1>
			<span class='col-md-12 col-sm-12 col-xs-12 azul-2 r-bottom-2 nopadding' >{{m.descrip}}</span>
			<p class='col-md-12 col-sm-12 col-xs-12 nopadding justif' ng-bind-html='m.resumen_p' ></p>
			<a class='col-md-12 col-sm-12 col-xs-12 rojito nopadding cursor' ng-click='toProduct(m.nombre)'>More information <span class='trian'>&#x25BC</span> </a>
		</div>
		
	</div>
</div>